@section styles {
    <link href="~/Content/css/views/home/home.css" rel="stylesheet" type="text/css" />
}

<header class="video-section">
    <video class="video" autoplay="autoplay" muted="muted" loop="loop" id="home-video">
        <source src="~/Content/static/dcs_world.mp4">
    </video>
    <div class="video-overlay-container">
        <div class="form-layout">
            <form class="form-search" action="@Url.Action("Search", "Home")" method="post">
                <input id="Query" class="input" name="Query" type="text" value="">
                <input type="submit" class="button glass-black" value="Search" id="btnSearchSubmit">
            </form>
        </div>
        <div class="video-overlay">
            <div class="video-overlay-intro">
                <h1>Kaukasus Insurgency CHANGED HERE</h1>
                <p>
                    KI is a fully customizable multiplayer campaign engine that gives players a persistent DCS experience between a network of
                    community-run servers.
                </p>
                <p>
                    Whether you're looking to fly, be a part of the KI network of servers, or build your own KI missions
                    be sure to start at our documentation.
                </p>
            </div>
            <div class="video-overlay-button">
                <a href="@Url.Action("LearnMore", "Home")" class="button glass-red">Learn More</a>
                <a href="@Url.Action("Index", "Servers")" class="button glass-green">Find Servers</a>
            </div>
        </div>
        <div class="ribbon-bg">
            <div class="ribbon-layout">
                <div class="layout-3">
                    <a href="https://discord.gg/kyZg7eM" target="_blank" class="link-button-container">
                        <div class="link-button-align link-button">
                            <i class="fab fa-discord fa-2x fa-fw"></i>
                        </div>
                        <div class="link-button-align link-button-span">
                            <span>KI ON</span>
                            <br>DISCORD
                        </div>
                    </a>
                </div>
                <div class="layout-3">
                    <a href="*" target="_blank" class="link-button-container">
                        <div class="link-button-align link-button">
                            <i class="fab fa-youtube fa-2x fa-fw"></i>
                        </div>
                        <div class="link-button-align link-button-span">
                            <span>KI ON</span>
                            <br>YOUTUBE
                        </div>
                    </a>
                </div>
                <div class="layout-3">
                    <a href="*" target="_blank" class="link-button-container">
                        <div class="link-button-align link-button">
                            <i class="fab fa-wpforms fa-2x fa-fw"></i>
                        </div>
                        <div class="link-button-align link-button-span">
                            <span>KI ON</span>
                            <br>FORUMS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="video-overlay-intro overlay-mobile">
    <p>
        KI is a fully customizable multiplayer campaign engine that gives players a persistent DCS experience between a network of
        community-run servers.
    </p>
    <p>
        Whether you're looking to fly, be a part of the KI network of servers, or build your own KI missions
        be sure to start at our documentation.
    </p>
</div>
<div class="video-overlay-button overlay-mobile">
    <a href="@Url.Action("LearnMore", "Home")" class="button glass-red">Learn More</a>
    <a href="@Url.Action("Index", "Servers")" class="button glass-green">Find Servers</a>
</div>
<div class="ribbon-bg ribbon-mobile">
    <div class="ribbon-layout">
        <div class="layout-3">
            <a href="http://www.facebook.com/arma3official" target="_blank" class="link-button-container">
                <div class="link-button-align link-button">
                    <i class="fab fa-discord fa-2x fa-fw"></i>
                </div>
                <div class="link-button-align link-button-span">
                    <span>KI ON</span>
                    <br>DISCORD
                </div>
            </a>
        </div>
        <div class="layout-3">
            <a href="http://www.facebook.com/arma3official" target="_blank" class="link-button-container">
                <div class="link-button-align link-button">
                    <i class="fab fa-youtube fa-2x fa-fw"></i>
                </div>
                <div class="link-button-align link-button-span">
                    <span>KI ON</span>
                    <br>YOUTUBE
                </div>
            </a>
        </div>
        <div class="layout-3">
            <a href="http://www.facebook.com/arma3official" target="_blank" class="link-button-container">
                <div class="link-button-align link-button">
                    <i class="fab fa-wpforms fa-2x fa-fw"></i>
                </div>
                <div class="link-button-align link-button-span">
                    <span>KI ON</span>
                    <br>FORUMS
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts {
    
}