@model KIWebApp.Models.SearchResultsModel
@section styles {
    <link href="~/Content/css/views/shared/search-results.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/views/shared/menu-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor-extensions/vendor-extensions.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/views/search/search.css" rel="stylesheet" type="text/css" />
}

@Html.Partial("_Header", new KIWebApp.Models.HtmlHeaderModel
{
    HeaderImage = "header-image-server-browser",
    Title = "Kaukasus Insurgency",
    InputValue = Model.Query
})

<div class="main">
    <p class="error" data-bind="text: error"></p>
    <div data-url-search-players-ajax="@Url.Action("SearchPlayers", "Home")"
         data-url-search-servers-ajax="@Url.Action("SearchServers", "Home")"
         data-url-game="@Url.Action("Game", "Servers")"></div>

    <div class="search-menu">
        <nav class="menu">
            <a id="js-server-search" href="javascript:;" class="menu-item @(Model.ServerResults > 0? "" : "disabled")" >
                Servers
                <span class="search-count">@Model.ServerResults</span>
            </a>
            <hr class="menu-line">
            <a id="js-player-search" href="javascript:;" class="menu-item @(Model.PlayerResults > 0? "" : "disabled")">
                Players
                <span class="search-count">@Model.PlayerResults</span>
            </a>
        </nav>
    </div>

    <div class="search-results">
        <div class="search-loader-layout loader"></div>
        <div class="js-search-content">
            <!--Handled in Ajax Calls-->
        </div>
        
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var MODEL = @Html.Raw(Json.Encode(Model));
    </script>

    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/tooltipster")
    <script src="~/scripts/views/search/init.js"></script>
}