

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" 
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    
    @Styles.Render("~/bundles/Content/shared")
    @RenderSection("styles", required: false)
@if (Context.IsDebuggingEnabled)
{
    <link href="~/Content/css/vendor/tooltipster/tooltipster.bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor/tooltipster/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor/dynatable/jquery.dynatable.css" rel="stylesheet" type="text/css" />
}
else
{
    @Styles.Render("~/bundles/Content/tooltipster")
    @Styles.Render("~/bundles/Content/dynatable")    
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/shared")
    @RenderSection("scripts", required: false)

</head>
<body>
    @Html.Partial("_Navigation")

    <div data-url-base="@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))"></div>

    <div id="body">
        @RenderBody()
    </div>

    <div id="footer">
        <div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2LVAGRH3X425W">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>

    @RenderSection("postscripts", required: false)
</body>
</html>
