@model KIWebApp.Models.GameModel

@section styles {
    <link href="~/Content/css/vendor-extensions/vendor-extensions.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/views/game/game.css" rel="stylesheet" type="text/css" />
}

@Html.Partial("_Header", new KIWebApp.Models.HtmlHeaderModel
{
    HeaderImage = "header-image-server-browser",
    Title = "Kaukasus Insurgency",
    InputValue = ""
})

<div class="main">
    <div class="server-description">
        <h1>@Model.ServerName</h1>
        <h2>H2 Flag</h2>
        <h3>H3 Flag</h3>
        <h4>Description</h4>
        <p>
            The standard Lorem Ipsum passage, used since the 1500s "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
        </p>
        <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." Section
            1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.
        </p>
        <p>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
            velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
            ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
    </div>

    <section class="game-section">
        <div class="info-layout">
            <h2>Server</h2>
            <div class="progress-bar-layout">
                <div class="progress-bar-title">Time Remaining: @Model.RestartTime</div>
                <div class="progress-bar">
                    <span style="width: 25%"></span>
                </div>
            </div>

            <div class="dash-row">
                <div class="dash-columns dash-col-green">
                    <div class="dash-header dash-large-font">@Model.Status</div>
                    <div class="dash-header dash-small-font">Status</div>
                </div>
            </div>
            <div class="dash-row">
                <div class="dash-columns dash-col-tan">
                    <div class="dash-header dash-large-font">@Model.IPAddress</div>
                    <div class="dash-header dash-small-font">Address</div>
                </div>
                <div class="dash-columns dash-col-tan">
                    <div class="dash-header dash-large-font">158.69.241.110:5014</div>
                    <div class="dash-header dash-small-font">Simple Radio</div>
                </div>
            </div>
            <div class="dash-row">
                <div class="dash-columns dash-columns-4 dash-col-dark">
                    <div class="dash-header dash-large-font">@Model.OnlinePlayersCount</div>
                    <div class="dash-header dash-small-font">Online</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-lred">
                    <div class="dash-header dash-large-font">12</div>
                    <div class="dash-header dash-small-font">Red</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-lblue">
                    <div class="dash-header dash-large-font">14</div>
                    <div class="dash-header dash-small-font">Blue</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-gray">
                    <div class="dash-header dash-large-font">4</div>
                    <div class="dash-header dash-small-font">Spectators</div>
                </div>
            </div>
            <div class="dash-row">
                <div class="dash-columns dash-columns-4 dash-col-dark">
                    <div class="dash-header dash-large-font">5</div>
                    <div class="dash-header dash-small-font">Lives Configured</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-lred">
                    <div class="dash-header dash-large-font">10</div>
                    <div class="dash-header dash-small-font">Depots</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-lblue">
                    <div class="dash-header dash-large-font">18</div>
                    <div class="dash-header dash-small-font">Capture Points</div>
                </div>
                <div class="dash-columns dash-columns-4 dash-col-gray">
                    <div class="dash-header dash-large-font">4</div>
                    <div class="dash-header dash-small-font">Spectators</div>
                </div>
            </div>
        </div>
        <div class="live-map-layout">
            <div class="live-map">
                <div id="googleMap"></div>
            </div>
            <div class="live-map-layout-footer">
                <div id="ingame-chat" class="live-map-footer-column glass-black">
                    <i class="fas fa-address-book game-navicon live-map-footer-span"></i>
                    <span class="live-map-footer-span">Chat</span>
                    @Html.Partial("_Chat", Model)
                </div>
                <div id="ingame-notifications" class="live-map-footer-column glass-black">
                    <i class="fas fa-address-book game-navicon live-map-footer-span"></i>
                    <span class="live-map-footer-span">Notifications</span>
                    @Html.Partial("_Notifications", Model)
                </div>
                <div class="live-map-footer-column glass-black">
                    <i class="fas fa-address-book game-navicon live-map-footer-span"></i>
                    <span class="live-map-footer-span">
                        Missions
                        <a class="notification">5</a>
                    </span>
                </div>
            </div>
            @Html.Partial("_GameNavigation", Model)
        </div>
    </section>

</div>


@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var MODEL = @Html.Raw(Json.Encode(Model));
    </script>      
}

@section postscripts {
    <script src="~/Scripts/views/game/game-navigation.js"></script>
    <script src="~/Scripts/views/game/chat.js"></script>
    <script src="~/Scripts/views/game/notification.js"></script>
    <script src="~/Scripts/views/game/live-map.js"></script>
    <script src="~/Scripts/views/game/iconBuilder.js"></script>
    <script src="~/Scripts/views/game/gmaps.js"></script>    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYmQlCOtX05GriYZDAfgnTUL5mY4kjyYQ&callback=initGoogleMap"></script>
    <script type="text/javascript">
        var n = $('#ingame-notifications').kiChat();
        var c = $('#ingame-chat').kiChat();

        c.add('Jojo', 0, 'Some scripted text');
        n.add('4:33 PM', 2, 'Scripted mission notification');
    </script>

}