@model List<KIWebApp.Models.ServerModel>

@section styles {
    <link href="~/Content/css/views/servers/servers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor-extensions/vendor-extensions.css" rel="stylesheet" type="text/css" />
}

<section class="header">
    <div class="header-image header-image-server-browser"></div>
    <div class="header-color"></div>
    <div class="header-info">
        <h1>Kaukasus Insurgency</h1>
    </div>
    <div class="header-form">
        <form class="form-search" action="/Home/Search" method="post">
            <input id="Query" class="input" name="Query" type="text" value="">
            <input type="submit" class="button glass-black" value="Search" id="btnSearchSubmit">
        </form>
    </div>
</section>

<div class="main">
    <p class="error" data-bind="text: error"></p>
    <div data-url-game="@Url.Action("Game", "Servers")"></div>
    <div class="sr-layout">
        <h2 class="sr-title">Game Servers</h2>
        <p class="sr-subtitle">This lists the status of all KI Game Servers</p>
        <table id="servers-table" class="table">
            <thead>
                <tr>
                    <th>Server Name</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Restart</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr class="js-clickable">
                        <td>
                            <div class="ServerID" style="display:none;">@item.ServerID</div>
                            <b>@item.ServerName</b>
                            <div class="sr-graph-icon js-clickable-img" title="View Server Statistics">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                        </td>
                        <td>@item.IPAddress</td>
                        <td>
                            @{
                                string statusIcon = "sr-status-restart-icon";
                                if (item.Status == "Online")
                                {
                                    statusIcon = "sr-status-online-icon";
                                }
                                else if (item.Status == "Offline")
                                {
                                    statusIcon = "sr-status-offline-icon";
                                }
                            }
                            <i class="fas fa-circle @statusIcon"></i>@item.Status
                        </td>
                        <td>@item.RestartTime</td>
                        <td>@item.OnlinePlayers</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/tooltipster")
    <script src="~/scripts/views/server/init.js"></script>
}